@{
    ViewBag.Title = "AuditRule Add";
}

<ol class="breadcrumb mtFixed">
    <li><a href="~/">Home</a></li>
    <li><a href="@Url.Action("Index","AuditRule")">AuditRule</a></li>
    <li class="active">AuditRule Add</li>
</ol>

<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-modal-window"></span>
            <span>Add AuditRule</span>
        </div>
        <div class="panel-body">
            <form id="form1">
				<div class="form-group">
					<label>Area</label>
					<input type="text" class="form-control" name="Area" placeholder="Please input Area">
				</div>
				<div class="form-group">
					<label>Rule</label>
					<input type="text" class="form-control" name="Rule" placeholder="Please input Rule">
				</div>
				<div class="form-group">
					<label>Status</label>
					<input type="text" class="form-control" name="Status" placeholder="Please input Status">
				</div>

				<a href="@Url.Action("Add", "AuditRule")" class="btn btn-default">
                    <span class="glyphicon glyphicon-refresh"></span>
                    <span>Refresh</span>
                </a>
                <button type="button" class="btn btn-primary" onclick="SubmitFormAsync('@Url.Action("Insert", "AuditRule")', 'form1')">Submit</button>
                <a href="@Url.Action("Index", "AuditRule")" class="btn btn-default">
                    <span class="glyphicon glyphicon-share"></span>
                    <span>Back</span>
                </a>
            </form>
        </div>
    </div>
</div>
